
@import url('/asset/style/fonts.css');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'vazir';
    list-style: none;
}

html{
    font-size: 62.5%;
}

/* root vatiable */
:root{
    
    --primary-color: #FF5722;
    --secondary-color: #FFF6F2;
    --main-white:#fff;
    --main-black:#222;
    --main-gray:#7c7c7c;
    --main-spacing:0.1rem;
    --main-red:#db2777;
    --body-color:#f6f6f6;
}